<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>398823506221-14apfn0lct4lfh7919vfpla4a49k74pf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.398823506221-14apfn0lct4lfh7919vfpla4a49k74pf</string>
	<key>API_KEY</key>
	<string>AIzaSyCiYMA8uKbB5Qfe_K8xtrMXDOeax9Ll394</string>
	<key>GCM_SENDER_ID</key>
	<string>398823506221</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>MK.socialNetwork</string>
	<key>PROJECT_ID</key>
	<string>socialnetwork-37002</string>
	<key>STORAGE_BUCKET</key>
	<string>socialnetwork-37002.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:398823506221:ios:dddef0ea53a19a392113a4</string>
	<key>DATABASE_URL</key>
	<string>https://socialnetwork-37002.firebaseio.com</string>
</dict>
</plist>